<h3>My Tickets</h3>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Target Date</th>
                <th>Done</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let ticket of tickets'>
                <td>{{ticket.id}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.targetDate | date | uppercase}}</td>
                <td>{{ticket.done}}</td>
                <td>
                    <button (click)="deleteTicket(ticket.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
